main section.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
}

main section.gallery .gallery-cards-container {
	display: flex;
	justify-content: center;
	align-items: center;


	flex-wrap: wrap;
	flex-direction: row;
	gap: 3rem;

	width: 100%;
	height: 100%;

}

main section.gallery .gallery-cards-container .gallery-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: white;
	border-radius: var(--radius-2xl);
	box-shadow: var(--shadow-2xl);
	padding: 1.5rem;
	width: fit-content;
}

main section.gallery .gallery-cards-container .gallery-card .gallery-card-title-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: var(--space-1);
}

main section.gallery .gallery-cards-container .gallery-card hr {
	width: 100%;
	opacity: 0.2;
	margin: var(--space-4) 0;
}

main section.gallery .gallery-cards-container .gallery-card .gallery-card-title-container .gallery-card-title {
	text-align: left;
	font-size: var(--font-size-2xl);
	background: rgba(30, 41, 59, 1);
	color: white;
	border-radius: 2rem;
	padding: var(--space-4) var(--space-8);
}

main section.gallery .gallery-cards-container .gallery-card .gallery-images-container {
	width: fit-content(80%);
	min-width: 350px;
	max-width: 1300px;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

main section.gallery .gallery-cards-container .gallery-card .gallery-images-container .gallery-image-container {
	width: 300px;
	height: 200px;
	overflow: hidden;
	margin: .5rem;
	padding: .5rem;
	background: var(--gradient-primary);
	border-radius: var(--radius-lg)
}

main section.gallery .gallery-cards-container .gallery-card .gallery-images-container .gallery-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* or 'contain' */
	border-radius: var(--radius-md);
}

.gallery-image-container:nth-last-child(6) img,
.gallery-image-container:nth-last-child(7) img,
.gallery-image-container:nth-last-child(8) img {
	/*object-position: 0px -40px;*/
	object-fit: contain !important;
	border-radius: var(--radius-md) !important;
}


.gallery-image-container:nth-last-child(2) img {
	object-position: 0px -80px;
}

.gallery-image-container:nth-child(2) img {
	object-position: 0px -140px;
}