main section.partnership {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
	background: var(--color-gray-50);

}

main section.partnership .service-card-description {
	max-width: 800px;
	text-align: left;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

main section.partnership .service-card-description a.btn {
	background-color: unset;
	background: var(--gradient-hero) !important;
}

main section.partnership .partner-cards-container {
	display: flex;
	justify-content: center;
	align-items: center;


	flex-wrap: wrap;
	flex-direction: row;
	gap: 3rem;

	width: 100%;
	height: 100%;

}

main section.partnership .partner-cards-container .partner-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background: white;
	border-radius: var(--radius-2xl);
	box-shadow: var(--shadow-xl);
	padding: 1.5rem;
	width: 350px;
	min-height: 450px;
	height: fit-content;
}


main section.partnership .partner-cards-container .partner-card svg {
	min-width: 4rem;
	min-height: 4rem;
	color: white;
	background: var(--gradient-hero);
	padding: .75rem;
	border-radius: var(--radius-md);
	margin-bottom: .5rem;
	margin-top: .2rem;
}

main section.partnership .partner-cards-container .partner-card h5 {
	width: 100%;
	text-align: left;
	margin: 1rem 0;
}

main section.partnership .partner-cards-container .partner-card p {
	display: flex;
	justify-content: center;
	align-items: center;
}

main section.partnership .partner-cards-container .partner-card .partner-card-info {
	list-style: initial;
	padding-left: 1.5rem;
}

main section.partnership .partner-cards-container .partner-card .partner-card-info li {
	padding: 0.2rem 0;
}
